= it.label :name
= it.text_field :name

= it.label "How old is the item?"
= it.text_field :age

= it.label :description
= it.text_area :description	

= it.label "What is the price?"
= it.text_area :price

= it.label "Sold? (Put true or false)"
= it.text_area :working_condition

= it.submit "Add"