%h1 These are my items

%ul
	- @items.each do |it| 
		%li= "Name: #{it.name}"
		%li= "Description: #{it.description}"
		%li= "Age: #{it.age}"
		%li= "Price: #{number_to_currency(it.price)}"
		%li= "Sold?: #{it.working_condition}"

		=form_for it, action: "PUT" do |t|
			=t.hidden_field :working_condition, :value => true
			=t.submit "Sold"

		=form_for it, action: "PUT" do |t|
			=t.hidden_field :working_condition, :value => false
			=t.submit "Bought Back"

		=form_for it, action: "DELETE" do |t|
			=it.id
			=t.submit "Destroy"

		

		%button=link_to "delete", "/items/#{it.id}", {:action => "delete", :method => :delete}




		%br

