%h1 These are my items

%button=link_to "Add a new item!", "/items/new"

%ul
	- @items.each do |it| 
		%li= "Name: #{it.name}"
		%li= "Description: #{it.description}"
		%li= "Age: #{it.age}"
		%li= "Price: #{number_to_currency(it.price)}"
		%li= "Sold?: #{it.working_condition}"


		=form_for it, :method => "put" do |i|
			=i.hidden_field :working_condition, value: true
			=i.submit "Sold"

		=form_for it, method: "patch" do |i|
			=i.hidden_field :working_condition, :value => false
			=i.submit "Refunded"

		
		%button=link_to "delete", it, :method => :delete

		%button=link_to "edit", "/items/#{it.id}/edit"




		%br
		%br


	/%table{:style => left}
	/= f.radio_button



